header {
    font-weight: bold;
    font-size: 25px;
    text-align: center;

}

body {
    background: linear-gradient(to right, #f8ff70, #01252e);
}
#icon {
    width: 100px;
    height: 100px;
}

.card {
    width: 50%;
}