header {
    font-weight: bold;
    font-size: 25px;
    text-align: center;

}

body {
    background: linear-gradient(to right, #f8ff70, #01252e);
}
#icon {
    width: 100px;
    height: 100px;
}

.card {
    
    background-color: rgba(0,0,0,0)!important;
    border: none;

}
img {
    width: 100px;
    height: 100px;
}